name: keras
dependencies:
- appnope=0.1.0=py27_0
- backports=1.0=py27_0
- backports_abc=0.4=py27_0
- configparser=3.5.0=py27_0
- decorator=4.0.10=py27_0
- entrypoints=0.2.2=py27_0
- flake8=2.5.1=py27_0
- functools32=3.2.3.2=py27_0
- get_terminal_size=1.0.0=py27_0
- h5py=2.6.0=np111py27_2
- hdf5=1.8.17=1
- ipykernel=4.4.1=py27_0
- ipython=5.1.0=py27_0
- ipython-notebook=4.0.4=py27_0
- ipython_genutils=0.1.0=py27_0
- jinja2=2.8=py27_1
- jsonschema=2.5.1=py27_0
- jupyter_client=4.3.0=py27_0
- jupyter_core=4.1.1=py27_0
- markupsafe=0.23=py27_2
- mccabe=0.3.1=py27_0
- mistune=0.7.2=py27_1
- mkl=11.3.3=0
- nbconvert=4.2.0=py27_0
- nbformat=4.1.0=py27_0
- notebook=4.2.2=py27_0
- numpy=1.11.1=py27_0
- openssl=1.0.2h=2
- path.py=8.2.1=py27_0
- pathlib2=2.1.0=py27_0
- pep8=1.7.0=py27_0
- pexpect=4.0.1=py27_0
- pickleshare=0.7.3=py27_0
- pip=8.1.2=py27_0
- prompt_toolkit=1.0.3=py27_0
- ptyprocess=0.5.1=py27_0
- pyflakes=1.2.3=py27_0
- pygments=2.1.3=py27_0
- python=2.7.12=1
- python.app=1.2=py27_4
- pyzmq=15.4.0=py27_0
- readline=6.2=2
- scikit-learn=0.17.1=np111py27_2
- scipy=0.18.0=np111py27_0
- setuptools=26.1.1=py27_0
- simplegeneric=0.8.1=py27_1
- singledispatch=3.4.0.3=py27_0
- six=1.10.0=py27_0
- sqlite=3.13.0=0
- ssl_match_hostname=3.4.0.2=py27_1
- terminado=0.6=py27_0
- tk=8.5.18=0
- tornado=4.4.1=py27_0
- traitlets=4.2.2=py27_0
- wcwidth=0.1.7=py27_0
- wheel=0.29.0=py27_0
- zlib=1.2.8=3
- pip:
  - backports-abc==0.4
  - backports.shutil-get-terminal-size==1.0.0
  - backports.ssl-match-hostname==3.4.0.2
  - cycler==0.10.0
  - ipython-genutils==0.1.0
  - jupyter-client==4.3.0
  - jupyter-core==4.1.1
  - keras==1.0.7
  - matplotlib==1.5.2
  - plotly==1.12.9
  - prompt-toolkit==1.0.3
  - pyparsing==2.1.8
  - python-dateutil==2.5.3
  - pytz==2016.6.1
  - requests==2.11.1
  - theano==0.9.0.dev2
prefix: /Users/idf/anaconda2/envs/keras

